/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/vendor/horizon
/resources/views/vendor/backpack
/storage/*.key
/storage/upstream
/storage/media-library
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mix-manifest.json
