/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/vendor/horizon
/storage/*.key
/storage/upstream
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
.valetphprc
composer.phar
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mix-manifest.json
