@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

@font-face {
    font-family: 'regarch-icons';
    src:  url('../fonts/regarch-icons.eot?xfdiyl');
    src:  url('../fonts/regarch-icons.eot?xfdiyl#iefix') format('embedded-opentype'),
        url('../fonts/regarch-icons.ttf?xfdiyl') format('truetype'),
        url('../fonts/regarch-icons.woff?xfdiyl') format('woff'),
        url('../fonts/regarch-icons.svg?xfdiyl#regarch-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'regarch-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  	content: "\2261";
}
.icon-plus:before {
    content: "\2b";
}
.icon-check:before {
    content: "\2713";
}
.icon-close:before {
    content: "\d7";
}
.icon-search:before {
    content: "\1f50d";
}
.icon-arrow-down:before {
    content: "\2193";
}
.icon-arrow-up:before {
    content: "\2191";
}
.icon-chevron-right:before {
    content: "\3e";
}
.icon-chevron-left:before {
    content: "\3c";
}
.icon-cube:before {
    content: "\3379";
}
.icon-minus:before {
    content: "\2d";
}
.icon-fullscreen:before {
    content: "\e90a";
}
.icon-chevron-up:before {
    content: "\5e";
}
.icon-chevron-down:before {
    content: "\2c5";
}
