a.link-circle {
    @extend .text-center;

    width: 2.4em;
    height: 2.4em;
    line-height: 2.4em;
    padding-right: .1em;

    &.active {
        @extend .border;
        border-radius: 2.4em;
    }
}

a.link-underline {
    text-decoration: none;
    border-bottom: 1px solid $dark;

    transition: border .2s ease-in-out, color .2s ease-in-out;

    @include hover() {
        text-decoration: none;
        border-bottom: 1px solid transparent;
    }
}

a.link-no-underline {
    text-decoration: none;
    border-bottom: 1px solid transparent;

    transition: border .2s ease-in-out, color .2s ease-in-out;

    @include hover() {
        text-decoration: none;
        border-bottom: 1px solid $dark;
    }
}

a.image-link {
    & img {
        opacity: 1;
        transition: opacity .2s ease-in-out;
    }

    &:hover img {
        opacity: .8;
    }
}
