a.nav-link {
	color: $dark;
	background-color: transparent;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;

	&:hover {
		color: $dark;
		background-color: $gray-200;
	}

	.main-nav & {
		@include font-size($font-size-base);

		@include media-breakpoint-up(sm) {
		  @include font-size($font-size-lg);
		}
	}
}