a.nav-link {
    color: $black;
    background-color: transparent;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;

    &:hover {
        color: $black;
        background-color: $gray-200;
    }

    &.active {
        background-color: $gray-200; // this is just temporary
    }

    .main-nav & {
        @include font-size($font-size-base);

        @include media-breakpoint-up(sm) {
            @include font-size($font-size-lg);
        }
    }
}