a.nav-link {
    color: $black;
    background-color: transparent;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;

    &:hover {
        color: $black;
        background-color: $gray-200;
    }

    &.active:after {
        content: "\2713";
        padding-left: 1rem;
        font-family: "regarch-font" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .main-nav & {
        @include font-size($font-size-base);

        @include media-breakpoint-up(sm) {
            @include font-size($font-size-lg);
        }
    }
}