.vh-38 { height: 38vh !important; }

.mvh-30 { max-height: 30vh !important; }

.h-6rem { height: 6rem !important; }
.h-8rem {
    height: 8rem !important;
}
.h-sm-8rem {
    @include media-breakpoint-up(sm) {
        height: 8rem !important;
    }
}
.h-16rem { height: 16rem !important; }

.w-6rem {
    width: 6rem !important;
}
.w-sm-8rem {
    @include media-breakpoint-up(sm) {
        width: 6rem !important;
    }
}
