// Letter Spacing Utilities
.ls-1 {
	letter-spacing: $letter-spacing-1;
}

.ls-2 {
	letter-spacing: $letter-spacing-2;
}

.ls-3 {
	letter-spacing: $letter-spacing-3;
}

.list-group-item b {
    font-weight: normal;
}

.error_number {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3rem;
    margin-top: 100px;
}
