
// Color system
$gray-200: #EBEAEA;
$gray-400: #CECECE;
$gray-600: #707070;
$gray-800: #343a40;

$black:    #000;
$blue:     #009DFF;
$orange:   #FF6002;
$green:    #00ED24;

$dark: $gray-600;
$secondary: $gray-400;

// Options
$enable-rounded: false;
$enable-responsive-font-sizes: true;

// Typography
$font-family-sans-serif:      'Inter', sans-serif;
$font-family-monospace:       'IBM Plex Mono', monospace;
$font-family-base:            $font-family-monospace;

$font-size-base: 0.8rem;
$line-height-base: 1.6;
$font-size-lg: $font-size-base * 1.2;
$font-size-md: $font-size-base * 1.1;

$letter-spacing-1: 0.02rem;
$letter-spacing-2: 0.04rem;
$letter-spacing-3: 0.08rem;

$headings-font-weight: 400;
$h1-font-size: $font-size-lg;
$h2-font-size: $font-size-lg;
$h3-font-size: $font-size-base;

$font-weight-medium: 500;

// Body
$body-color:                $black;

// Links
$link-color:                              $black;
$link-hover-color:                        $dark;

// Components
$border-color: $dark;
$border-radius: 0;
$lightbox-bg-color: rgba(255, 255, 255, .9);

// Forms
$input-color:                           $body-color;
$input-box-shadow:                      none;
$input-focus-box-shadow:                none;
$input-border-radius:                   0;
$input-border-radius-lg:                0;
$input-border-radius-sm:                0;
$input-border-color:                    #000;
$input-border-width:                    1px;

// List group
$list-group-border-width: 0;

// Spacers
$spacer: 1rem;
$spacers: (
  6: ($spacer * 6),
  7: ($spacer * 12)
);
