$caption-height: $spacer * 8;

.gallery-carousel-main {
    &:not(.is-fullscreen) {
        cursor: pointer;
        opacity: 1;
        transition: opacity .2s ease-in-out;
        position: relative;

        &:after {
            font-family: 'regarch-icons';
            content: '\1f50d';
            background-color: $white;
            @extend .border;
            padding: 0.2rem 0.4rem;
            display: inline-block;
            position: absolute;
            bottom: 20px;
            left: 20px;
            opacity: 0;
            transition: inherit;
            pointer-events: none;
        }

        &:hover {
            opacity: .8;
            &:after {
                opacity: 1;
            }
        }
    }

    .carousel-cell {
        height: 100%
    }

    .caption {
        display: none;
        height: $caption-height;
        bottom: 0;
    }

    .btn {
        display: none;
    }

    .next-button, .prev-button {
        top: 50%;
        transform: translateY(-50%);

        &:disabled {
            opacity: .3;
        }
    }

    .next-button {
        right: 0;
    }

    .prev-button {
        left: 0;
    }

    .fullscreen-exit-button {
        top: 0;
        right: 0;
        font-size: 1.5 * $font-size-lg;
    }

    .flickity-fullscreen-button {
        display: none !important;
    }

    &.is-fullscreen {
        @extend .h-100;
        z-index: 10;
        background-color: $lightbox-bg-color;

        .carousel-cell {
            top: $caption-height;
            bottom: $caption-height;
            height: auto;
        }

        .caption {
            display: block;
        }

        .btn {
            display: block;
            position: absolute;
            z-index: 1;
            font-size: 2 * $font-size-lg;
        }
    }
}

.gallery-carousel-nav {
    .nav-slide {
        @extend .border-bottom;
        @extend .border-white;

        &.is-nav-selected {
            @extend .border-dark;
            border-width: 2px;
        }
    }
}
