$caption-height: $spacer * 8;

.gallery-carousel-main {
    .carousel-cell {
        height: 100%
    }

    .caption {
        display: none;
        height: $caption-height;
        bottom: 0;
    }

    .btn {
        position: absolute;
        display: none;
        z-index: 1;
        font-size: 2 * $font-size-lg;
    }

    .next-button, .prev-button {
        top: 50%;
        transform: translateY(-50%);

        &:disabled {
            opacity: .3;
        }
    }

    .next-button {
        right: 0;
    }

    .prev-button {
        left: 0;
    }

    .fullscreen-exit-button {
        top: 0;
        right: 0;
        font-size: 1.5 * $font-size-lg;
    }

    .flickity-fullscreen-button {
        display: none !important;
    }

    &.is-fullscreen {
        @extend .h-100;
        z-index: 10;
        background-color: $lightbox-bg-color;

        .carousel-cell {
            top: $caption-height;
            bottom: $caption-height;
            height: auto;
        }

        .caption {
            display: block;
        }

        .btn {
            display: block;
        }
    }
}

.gallery-carousel-nav {
    .nav-slide {
        @extend .border-bottom;
        @extend .border-white;

        &.is-nav-selected {
            @extend .border-dark;
            border-width: 2px;
        }
    }
}
