.marker {
    background-color: $black;
    border: 1px $dark solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;

    &:before {
        transition: border .2s ease-in-out;
        background: none;
        border: 4px solid transparent;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        border-radius: 50%;
    }

    &:hover, &.active {
        &:before {
            background: none;
            border: 4px solid #fff;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            border-radius: 50%;
        }
    }
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: $font-family-base;
}

#map-toggle {
	box-shadow: 0 0 6px $orange;
    pointer-events: all;

	&.active {
		color: $black;
		background-color: $white;
		box-shadow: 0 0 6px $green;
		&:hover {
			color: $black;
			background-color: $gray-200;
		}
	}
}

#map-container {
    .row {
        pointer-events: none;
    }

    .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon:after {
        content: "\2b";
        font-family: 'regarch-icons';
        color: $black;
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        pointer-events: none;
    }

    .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon:after {
        content: "\2d";
        font-family: 'regarch-icons';
        color: $black;
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        pointer-events: none;
    }

    .mapboxgl-ctrl-group button:focus {
        box-shadow: none;
        outline: none;
    }

    .mapboxgl-ctrl-group:not(:empty) {
        box-shadow: 0 0 6px $green;
        border: 1px solid rgba(0, 0, 0, 1);
    }

    .mapboxgl-ctrl-group button + button {
        border-top: 1px solid rgba(0, 0, 0, 1);
    }
}